:root {
    --primary-color: blue;
    --secondary-color: black;
    --font-color: black;
    --bg-color: rgb(219, 219, 219);
    --heading-color: #292922;
    --boxshadow1: #fdfdfd;
    --boxshadow2: #929292;
    --lg1: rgba(219,219,219,0);
    --lg2: rgba(219,219,219,1);
}

[data-theme="dark"] {
    --primary-color: yellow;
    --secondary-color: white;
    --font-color: #f5f5f5;
    --bg-color: rgb(15,15,15);
    --heading-color: #292922;
    --boxshadow1: #1f1f1f;
    --boxshadow2: #000000;
    --lg1: rgba(15,15,15,0);
    --lg2: rgba(15,15,15,1);
}
.feedback-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: -10px -10px 20px var(--boxshadow1), 10px 10px 20px var(--boxshadow2);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 30px;
    color: var(--font-color);
}
#name{
    margin-bottom: 40px;
    width: 300px;
    height: 20px;
    padding: 20px;
    font-size: 20px;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    background-color: transparent;
    color: var(--font-color);
}
#feedback{
    margin-bottom: 40px;
    width: 300px;
    height: 200px;
    padding: 20px;
    font-size: 20px;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    background-color: transparent;
    color: var(--font-color);
}
#submit{
    width: 300px;
    height: fit-content;
    padding: 10px;
    color: var(--bg-color);
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s;
    margin-bottom: 40px;
}
#submit:hover{
    transform: scale(1.1);
}