.projects{
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: -10px -10px 20px var(--boxshadow1), 10px 10px 20px var(--boxshadow2);
    transition: .3s ease-in;
}
.project:hover{
    transform: scale(1.1);
}
.project a:hover{
    color: var(--primary-color);
}
.projects a{
    color: var(--font-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
h1{
    color: var(--font-color);
    text-align: center;
}
@media only screen and (max-width: 768px) {
    h1{
        font-size: 16px;
    }
}