:root {
    --primary-color: blue;
    --secondary-color: black;
    --font-color: black;
    --bg-color: rgb(219, 219, 219);
    --heading-color: #292922;
    --boxshadow1: #fdfdfd;
    --boxshadow2: #929292;
    --lg1: rgba(219,219,219,0);
    --lg2: rgba(219,219,219,1);
    --call: rgb(0, 140, 0);
    --put: rgb(140, 0, 0);
    --time: rgb(140, 140, 140);
    --hr: rgb(200,200,200);
}

[data-theme="dark"] {
    --primary-color: yellow;
    --secondary-color: white;
    --font-color: #f5f5f5;
    --bg-color: rgb(15,15,15);
    --heading-color: #292922;
    --boxshadow1: #1f1f1f;
    --boxshadow2: #000000;
    --lg1: rgba(15,15,15,0);
    --lg2: rgba(15,15,15,1);
    --call: rgb(82, 255, 82);
    --put: rgb(255, 82, 82);
    --hr: rgb(0,0,0);
}
body{
    color: var(--font-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    font-family: Poppins, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.navbar{
    z-index: 1;
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
}
.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}

.head {
    text-decoration: none;
    font-size: 24px;
    margin-left: 20px;
    font-weight: bolder;
    color: var(--primary-color);
}

.head span {
    color: var(--secondary-color);
}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar i{
    font-size: 26px;
}
#emoji{
    margin-left: 2px;
}
#menu{
    margin: 0 20px;
    cursor: pointer;
}
#close{
    display: none;
    margin: 0 20px;
    cursor: pointer;
}
.navtabs{
    display: none;
}
.navtabs ul{
    list-style: none;
    width: 80%;
}

.navtabs li{
    padding: 10px;
    transition: 0.3s;
}
.navtabs ul li a:link,a:visited{
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}
.navtabs ul li:hover{
    background-color: var(--boxshadow1);
}
.fa-home,.fa-shopping-cart,.fa-line-chart{
    margin: 0 10px;
}
hr{
    margin: 0;
    outline: none;
    border: none;
    border-top: 0.1rem solid var(--hr);
}

/*--dark mode slider--*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 0.5rem;
}

.theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: rgb(182, 182, 182);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--bg-color);
    bottom: 2px;
    content: "";
    height: 16px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/*--dark mode slider--*/


.api-container{
    height:80vh;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
